.slider-container {
  width: 80%;
  margin: 40px auto;
}
.slider-container .slider {
  margin-bottom: 2em;
}

.rc-slider-tooltip-arrow {
  border-top-color: rgba(114,99,113,1);
}

.rc-slider-tooltip-inner {
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: none;
  vertical-align: middle;
  background-color: rgba(114,99,113,1);
}

.rc-slider-tooltip-inner:before {
  content: "$ ";
}

.rc-slider-track {
  background-color: rgba(238,73,92,1);
  height: 4px;
}

.rc-slider-handle {
  border-color: rgba(238,73,92,1);
  background-color: rgba(238,73,92,1);
  width: 18px;
  height: 18px;
  margin-top: -7px;
  margin-left: -9px;
}

.rc-slider-handle:hover {
  border-color: rgba(238,73,92,1);
}

.panel-body {
  background-color: rgba(243,242,243,1);
  font-family: 'Roboto Condensed', sans-serif;
}

.hour, .day, .week, .month, .year {
  font-weight: bold;
  font-size: 1.2em;
}

/* Commented out. Legacy. Safe to remove completely? */

.rc-slider-tooltip-placement-points-bc-tc .rc-slider-tooltip-arrow {
  border-top-color: #000;
}
