.header {
  background-color: rgba(34,15,37,1);
  display: flex;
  z-index: 1;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

.copyright {
  flex: 1;
}

.logo {
  /*margin: 1rem 0 0 4rem;*/
  /*font-size: 2rem;*/
  flex: 2;
}
